
@import url("https://fonts.googleapis.com/css?family=Raleway:600|Roboto");

html {
	-ms-text-size-adjust: 100%; 
	-webkit-text-size-adjust: 100%;
	font-size: 16px; 
}

body {
	min-height: 100%;
	margin: auto;
	font-weight: 400;
	padding-top: 70px;
	background-color: #F5F5F5;
}

 
.navbar-inverse,
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
	color: #FFF;
	background-color: #1D2242;
	font-family: 'Raleway', sans-serif;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:hover {
	background-color: #FFA726;
}

.main-content {
	max-width: 1024px;
	margin: auto;
	border: 1px solid #F5F5F5;
	border-radius: 5px;
	background-color: #fff;
	padding: 16px;
}

.nav-option {
	font-size: 16px;
}

.span-header>*{
	display: inline;
}

.state{
    font-size:3rem;
    visibility: hidden;
}

.accepted{
    color:green;
}

.denied{
    color:red;
}
