{% extends "base.html" %}
{% block maincontent %}
<div class="main-container">
	{% if not request.user.is_authenticated %}
	<div class="page-header">
		<h3>Welcome to the "TechSoc Membership Checker"</h3>
	</div>


	<p class="lead">Login using the account details provided to you!</p>
	<p>(on mobile view, click the menu icon)</p>
	{% else %}
	<div class="page-header">
		<h3 class="">Membership Form</h3>
        <p> Insert the first name of the person here, as instructed beforehand...^^</p>
	</div>
    <!--<form method="POST" action="/checkin">-->
        <!--{% csrf_token %}-->
        <input type="text" name="input" id="input">
        <input type="submit" value="Check" id="submit" name="submit">
    <!--</form>-->
	{% endif %}

    <div class="state accepted" id="accepted">
        ACCEPTED!
    </div>

    <div class="state denied" id="denied" >
        DENIED!
    </div>
    <script>



    $('#submit').click(function(){
        $('#accepted').css('visibility','hidden');
        $('#denied').css('visibility','hidden');
        console.log('on click');
        name = $('input').val();
        console.log(name);
        $.ajax({
            type: "POST",
            url: '/checkin',
            data: { input:name,
                     csrfmiddlewaretoken:'{{csrf_token}}' },
            success: function(response){
                if (response=='True'){
                    console.log(response);
                    $('#accepted').css('visibility','visible');
                }else{
                    $('#denied').css('visibility','visible');
                }

            },
        });
        });
    </script>
</div>

{% endblock %}